html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.game-container {
    min-width: 360px;
    width: 100%;
    max-width: 1280px;
    height: 768px;
    position: relative;
}

.sky {
    background: url(../images/frappyBird-sky.png) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: calc(100% - 150px);
    position: absolute;
    overflow: hidden;
}

.ground {
    background:url(../images/frappyBird-ground.png) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 150px;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.bird {
    background: url(../images/frappyBird-bird.png) no-repeat;
    background-size: cover;
    background-position: center center;
    position: absolute;
    width: 60px;
    height: 38px;
    bottom: 50%;
    left: 100px;
}

.obstacle {
    background: url(../images/frappyBird-pipe.png) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 60px;
    height: 300px;
    position: absolute;
}

.obstacle.top {
    background: url(../images/frappyBird-pipe.png) no-repeat;
    background-size: cover;
    background-position: center center;
    transform: rotate(180deg);
    width: 60px;
    height: 300px;
    position: absolute;
}

.hide {
    display: none;
    opacity: 0;
    pointer-events: none;
}

.game-start-wrap,
.game-over-wrap {
    transition: all 300ms ease-in-out;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    place-content: center;
    place-items: center;
}

.game-start-wrap {
    z-index: 12;
}

.game-over-wrap {
    z-index: 11;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.58);
    z-index: 10;
}

.banner {
    width: 50%;
    min-height: 150px;
    padding: 25px 50px;
    text-align: center;
    z-index: 12;
    font-family: 'Courier New', Courier, monospace;
}

.game-start-wrap .banner {
    border: 1px skyblue solid;
    color: skyblue;
}

.game-over-wrap .banner {
    border: 1px red solid;
    color: red;
}

.banner button {
    border: none;
    box-shadow: 1px 1px 3px 0 #555;
    padding: 10px 25px;
    background-color: black;
    color: #fff;
    font-size: 1.2rem;
    transition: background-color 100ms ease;
}

.banner button:hover {
    background-color: #999;
}

.tutorial {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;;
}

.tutorial img {
    width: 100px;
    height: 50px;
    margin-right: 10px;
}